{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
    {% include 'header.html' %}
    </head>
    <body>
    <div id="resetform">
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
            </div>
        {% endif %}
        <form action="" method="post" class="form-horizontal">{% csrf_token %}
            <fieldset>
                <legend><span class="col-sm-offset-1">密码重置</span></legend>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-info">
                        请输入你的Email地址。
                    </div>
                </div>
                {% for field in form %}
                    {% include 'registration/form_field.html' %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id='submit' class="btn primary" type="submit" data-loading-text="加载..." accesskey="Enter">重置密码</button>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
                $(function(){
                    $(".alert-message").alert();
                    $('#mainForm').submit(function(){
                        $('#submit').button('loading');
                    })
                });
                document.forms[1].elements[2].focus();
            </script>
        </form>
    </div>
    </div>
  {% include 'footer.html' %}
    </body>
</html>
