                    {% for task in tasks %}
                        <tr class="task_record">
                        <td><input type="checkbox"></td>
                        <td class="hide">{{ task.id }}</td>
                        <td class="showcounter">{{ forloop.counter }}</td>
                        <td class="taskname">{{ task.name }}</td>
                        <td>
                        {% ifequal task.status 0 %}
                            <img src="/static/img/wait.png" alt="等待" data-toggle="tooltip" data-placement="left" title="等待扫描"/>
                           <!-- 等待 -->
                        {% endifequal %}
                        {% ifequal task.status 1 %}
                            <img src="/static/img/running.gif" alt="扫描" data-toggle="tooltip" data-placement="left" title="正在扫描" />
                            <!-- 扫描 -->
                        {% endifequal %}
                        {% ifequal task.status 2 %}
                            <img src="/static/img/stop.png" alt="暂停" data-toggle="tooltip" data-placement="left" title="暂停扫描"/>
                            <!-- 暂停 -->
                        {% endifequal %}
                        {% ifequal task.status 3 %}
                            <img src="/static/img/complete.png" alt="结束" data-toggle="tooltip" data-placement="left" title="扫描结束"/>
                            <!-- 结束 -->
                        {% endifequal %}
                        </td>
                        <td> <!-- vul statistics start -->
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger high_risk" style="width: {{ task.h_p }}%">
                                    <span>{{ task.h_c }}(高)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning progress-bar-striped middle_risk" style="width: {{ task.m_p }}%">
                                    <span>{{ task.m_c }}(中)</span>
                                </div>
                                <div class="progress-bar progress-bar-info low_risk" style="width: {{ task.l_p }}%">
                                    <span>{{ task.l_c }}(低)</span>
                                </div>
                                <div class="progress-bar progress-bar-success no_risk" style="width: {{ task.s_p }}%">
                                    <span class="no_risk_num">{{ task.s_c }}(漏洞)</span>
                                </div>
                            </div>
                        </td> <!-- vul statistics end -->

                        <td>{{ task.start_time|date:"Y-m-d H:i:s" }}</td>
                        {% if task.end_time %}
                            <td>{{ task.end_time|date:"Y-m-d H:i:s" }}</td>
                        {% else %}
                            <td>未结束</td>
                        {% endif %}
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-xs">操作</button>
                                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                {% ifequal task.status 2 %}
                                    <li class="continue_task"><a href="#">继续扫描</a></li>
                                    <li class="restart_task"><a href="#">重新扫描</a></li>
                                {% endifequal %}
                                {% ifequal task.status 3 %}
                                    <li class="restart_task"><a href="#">重新扫描</a></li>
                                {% endifequal %}
                                {% ifequal task.status 0 %}
                                    <li class="start_task"><a href="#">扫描</a></li>
                                {% endifequal %}
                                <li class="stop_task"><a href="#">暂停</a></li>
                                <li class="detail_task"><a href="#">详细</a></li>
                                <li class="delete_task"><a href="#">删除</a></li>                                
                                </ul>
                            </div>
                        </td>
                        </tr>
                    {% endfor %}