    <meta charset="utf-8">
    <title>在线漏洞检测平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online Web Scanner">
    <meta name="author" content="skycrab68@163.com">
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootbox.js"></script>
    <script src="{{ STATIC_URL }}js/csrf.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>